<style type="text/css">
<!--

/* general */

/* shorthand box properties tip: think of a clock: 12, 3, 6, 9 */

/*body position specified to ensure correct alignment of page content in NS4*/

	body{	
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 0 0 0;
		}
	
  td{
  	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
  }
  
  .tableborder{  
	border: 1px solid #ccc;
  }
		
	.content{
			width: 100%;
			padding: 0 5px 0 5px;
		}
			
			
	.center{
		 	margin-left: auto;
		 	margin-right: auto;
		}
			 
	.header{
			background-color: #006699;
			margin-left: auto;
		 	margin-right: auto;
			border-top:	8px solid #ccc;
			border-bottom: 8px solid #ccc;
		}	
				
	.grayrightborder{
			border-right: 1px solid #ccc;
			padding: 2px 3px 0 0;
		}
	
	.bluestripe{
			background-color: #003366;
			border: none;
			margin-left: auto;
		 	margin-right: auto;
			font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-color: #ffffff;
		}
		
	.bottomborder{
			border-bottom: 1px solid black;
			margin: 0 0 0 0;
		} 
		
	.topborder{
			width: 100%;
			border-top: 1px solid black;
			margin: 0;
			padding: 1px 0 0 0;
			
		} 
		
		
					
	.topbottomborder{
			border-top: 1px solid black;
			border-bottom: 1px solid black;
		}
					
	
/* text */

	p{
			font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
		}
		
	.boldtext{
			font-weight: bold;
		}
		
	.italic{ 
			font-style: italic;
			font-size: 12px;
		}
	
			
	h1{    	
			font: 20px Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-weight: bold;
			color: #006699;
		}
		
		
	h2{		
			font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-weight: bold;
		}
		
		
		
	#aligntop{
			border: 1px solid;
			float: top;
		
			}
		
		
		
/*images*/
		
	img{
			border: 0;
		}

/* links*/

/* different font property notation to ensure specificity  */
/* specify border and margin attributes to ensure hover pseudo-class effective in NS6*/

	.orange2bluebold{
			border: 0px;
			margin: 0px;	
			color:orange;
			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size: 10px;
			font-weight: bold;
			text-decoration: none;
				
		}
		
	.orange2bluebold:link{
			color: orange;
			font-weight: bold;
			text-decoration: none;		
		}
		
	.orange2bluebold:visited{
			color: orange;
			font-weight: bold;
			text-decoration: none;		
		}
		
	.orange2bluebold:hover{
			color: black;
			font-weight: bold;
			text-decoration: none;
			
		}
						
	.white2bluebold{
			 border: 0px;
			 margin: 0px;				
			 color: white;
			 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			 font-size: 10px;
			 font-weight: bold;
			 text-decoration: none;
						
		}	
								
	.white2bluebold:link{
			color: white;
			font-weight: bold;
			text-decoration: none;	
			
		}
		
	.white2bluebold:visited{
			color: white;
			font-weight: bold;
			text-decoration: none;	
			
		}
		
		.white2bluebold:hover{
			color: #0099ff;
			font-weight: bold;
			text-decoration: none;	
			
		}
		
		
/* eof  */
-->

</style>


